@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:wght@200;300&family=Inconsolata:wght@300&family=PT+Mono&display=swap");
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.background-fade {
  position: absolute;
  margin: 0;
  background-size: cover;
  min-height: 200%;
  width: 100%;
  animation: colorSwitch 10s ease-in;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
#title {
  font-size: 4.5rem;
  font-family: "Courier Prime", monospace;
  animation: position 2.5s, titleSwitch 10s ease-in-out;
  text-decoration: none;
  color: black;
  animation: position 2.5s, titleSwitch 10s ease-in-out;
}
.section {
  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
  margin: 49.4% auto;
  min-height: 50rem;
  width: 100%;
  animation: fadeIn 2.5s;
}
/* check the positioning and margin */
.header-container {
  font-family: "Courier Prime", monospace;
  font-size: 3rem;
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 100%;
  gap: 5%;
  z-index: 2;
  margin-top: 5%;
}
.header-container a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}
.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  margin: 70% auto;
  gap: 5%;
}
.tab {
  background-color: white;
  text-decoration: black;
  font-family: "Courier Prime", monospace;
  text-align: center;
  font-size: 2rem;
  min-width: 25%;
  min-height: 30vh;
}

@keyframes fadeIn {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes colorSwitch {
  0% {
    background-color: black;
    opacity: 100%;
  }
  25% {
    background-color: black;
    opacity: 100%;
  }
  30% {
    background-color: transparent;
    opacity: 0%;
  }
}
/* Find another way to make it come from the middle of the screen */
@keyframes position {
  0% {
    transform: translateY(350%);
    opacity: 0%;
  }
  80% {
    transform: translateY(350%);
  }
}

@keyframes titleSwitch {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  30% {
    color: black;
  }
}
