@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:wght@200;300&family=Inconsolata:wght@300&family=PT+Mono&display=swap");

html {
  font-family: "Courier Prime", monospace;
}
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: 0;
  margin: 0;
  padding: 0;
}
@media (max-width: 790px) {
  body {
    position: relative;
    background: white;
  }
  .logo-desktop {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100vw;
    background-color: white;
    font-size: 1.5em;
  }
  .menu-button {
    margin-left: 10%;
  }
  .header-center {
    margin-left: 10%;
  }
  .header-left {
    display: none;
  }
  .header-right {
    display: none;
  }
  .section-container {
    display: grid;
    grid-template-rows: auto auto;
    align-self: center;
    grid-column-gap: 5%;
    justify-content: space-between;
    font-size: 1.5vw;
    margin-top: 15%;
  }
  .left-content {
    margin: 10% 50% 10% 10%;
  }
  .right-content {
    margin: 10% 10% 10% 50%;
  }
}
@media (min-width: 725px) {
  body {
    background: white;
  }
  header a {
    color: black;
  }
  .logo-mobile {
    display: none;
  }
  .header-container {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 100%;
    background-color: white;
    font-size: 1.5em;
  }
  .header-left {
    margin-right: 10%;
  }
  .header-right {
    margin-left: 10%;
  }
  .button {
    display: none;
  }
  .section-container {
    display: grid;
    grid-template-rows: auto auto;
    align-self: center;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: 15%;
  }

  .left-content {
    margin: 10% 50% 10% 10%;
  }
  .right-content {
    margin: 10% 10% 10% 50%;
  }
  .footer-container {
    background: black;
    width: 100vw;
  }
}
