@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:wght@200;300&family=Inconsolata:wght@300&family=PT+Mono&display=swap");

html {
  font-family: "Courier Prime", monospace;
}
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: 0;
  margin: 0;
  padding: 0;
}
@media (max-width: 725px) {
  body {
    background: white;
  }
  .logo-desktop {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 100%;
    background-color: white;
    font-size: 1.5em;
  }
  .menu-button {
    margin-right: 10%;
  }
  .header-center {
    margin-left: 10%;
  }
  .header-left {
    display: none;
  }
  .header-right {
    display: none;
  }
  .section-description {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
    justify-content: space-between;
    margin: 10%;
    font-size: 2vh;
  }
  #right-side-1 {
    margin-top: 100%;
    padding-bottom: 50%;
  }
  #right-side-2 {
    padding-top: 100%;
    padding-bottom: 50%;
  }
}
@media (min-width: 725px) {
  body {
    background: white;
  }
  header a {
    color: black;
  }
  .logo-mobile {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 100%;
    background-color: white;
    font-size: 1.5em;
  }
  .header-left {
    margin-right: 10%;
  }
  .header-right {
    margin-left: 10%;
  }
  .button {
    display: none;
  }
  .section-description {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5%;
    justify-content: space-between;
    margin: 15%;
    font-size: 2vh;
  }
  #right-side-1 {
    margin-top: 100%;
    padding-bottom: 50%;
  }
  #right-side-2 {
    padding-top: 100%;
    padding-bottom: 50%;
  }
}
