@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:wght@200;300&family=Inconsolata:wght@300&family=PT+Mono&display=swap");
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
/* Animations */
@keyframes fadeIn {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes colorSwitch {
  0% {
    background-color: black;
    opacity: 100%;
  }
  25% {
    background-color: black;
    opacity: 100%;
  }
  30% {
    background-color: transparent;
    opacity: 0%;
  }
}
/* Find another way to make it come from the middle of the screen */
@keyframes position {
  0% {
    transform: translateY(-50%);
    opacity: 0%;
  }
  80% {
    transform: translateY(0%);
  }
}

@keyframes titleSwitch {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  30% {
    color: black;
  }
}
@keyframes contentPositioning {
  0% {
    transform: translateY(-200%);
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/* Mobile */
@media (min-width: 375px) {
  .header-container {
    font-size: 1.5rem;
  }
  #title{
    font-size: 2.25rem;
  }
}
