@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:wght@200;300&family=Inconsolata:wght@300&family=PT+Mono&display=swap");

html {
  font-family: "Courier Prime", monospace;
  scroll-behavior: smooth;
}
* {
  color: black;
  box-sizing: border-box;
  list-style: none;
  text-decoration: 0;
  margin: 0;
  padding: 0;
}
@media (max-width: 725px) {
  body {
    background: white;
  }
  .logo-desktop {
    display: none;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100vw;
    font-size: 1.5em;
  }
  .menu-button {
    margin-left: 10%;
  }
  .header-center {
    font-size: 2rem;
    margin-left: 10%;
  }
  .header-left {
    display: none;
  }
  .header-right {
    display: none;
  }
  .section-container {
    display: grid;
    grid-template-rows: auto auto;
    align-self: center;
    grid-column-gap: 5%;
    justify-content: space-between;
    font-size: 1.5vw;
    margin-top: 15%;
  }
  .left-content {
    margin: 10% 50% 10% 10%;
  }
  .right-content {
    margin: 10% 10% 10% 50%;
  }
  .footer-container {
    display: none;
  }
}
@media (min-width: 725px) {
  body {
    background: white;
  }
  header a {
    color: black;
  }
  .logo-mobile {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
    background-color: white;
    font-size: 1.5em;
  }
  .header-center {
    font-size: 3rem;
  }
  .header-left {
    margin-right: 10%;
  }
  .header-right {
    margin-left: 10%;
  }
  .button {
    display: none;
  }
  .section-container {
    display: grid;
    grid-template-rows: auto auto;
    align-self: center;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: 8%;
  }

  .left-content {
    margin: 10% 50% 10% 10%;
  }
  .right-content {
    margin: 10% 10% 10% 50%;
  }
  .footer-container {
    border-top: 2px solid black;
    height: 30vh;
    width: 100vw;
  }
  .top-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mid-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }
  .mid {
    gap: 5%;
    margin: 5% 0% 5% 0%;
  }
  .bot {
    font-family: "Courier Prime", Courier, monospace;
    padding-bottom: 5%;
  }
  #input {
    width: 20rem;
    height: 2rem;
    border: 2px solid black;
  }
  #submit-btn {
    font-family: "Courier Prime", Courier, monospace;
    color: white;
    border: none;
    background: black;
    width: 5rem;
    height: 2rem;
  }
  #submit-btn:hover {
    color: black;
    background: white;
    border: 2px solid black;
  }
  :placeholder-shown {
    font-family: "Courier Prime", Courier, monospace;
  }
}
